body {
    display: flexbox;
    text-align:center;
    background-color: rgba(17, 17, 17, 0.966);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
}    

.range {
    transform: translateY(180px);
}

h2 {
    color:beige;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

button {
    border: 0px;
    margin: 100px;
    transform: scale(3.2);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 245, 223);
    border-radius: 3px;
}

button:hover {
    background-color: rgba(255, 245, 223, 0.787);
}

.nr {
    font-size: 100px;
}
